<!DOCTYPE html>
<html>
<head>
    <title>Browse Inventory</title>
</head>
<body>
    <h2>Enter a category to search:</h2>

    <form action="" method="post">
        <label for="text">{{ fieldname }}:</label>
        <select id="text" name="text">
            <option value="all">All Categories</option>
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit Query">
    </form>
</body>
</html>