<!doctype html>
<html lang="en">
  <head>
    <title>Update Wishlist</title>
  </head>
  <body>
    <h1>Update Wishlist Item</h1>
    <p>Check your wishlist for the Wishlist ID of the item you want to update.</p>
    <form action="{{ url_for('update_wishlist') }}" method="post">
      <label for="wishlist_id">Wishlist ID:</label><br />
      <input type="text" id="wishlist_id" name="wishlist_id" required /><br />
      <label for="name">New Name:</label><br />
      <input type="text" id="name" name="name" required /><br />
      <label for="sku">New SKU:</label><br />
      <input type="text" id="sku" name="sku" required /><br />
      <label for="color">New Color:</label><br />
      <input type="text" id="color" name="color" required /><br />
      <label for="price">New Price:</label><br />
      <input type="text" id="price" name="price" required /><br />
      <input type="submit" value="Update" />
    </form>
    <br />
    <a href="{{ url_for('view_wishlist') }}"><button>View Wishlist</button></a>
    <a href="{{ url_for('customer') }}"><button>Back to Customer</button></a>
  </body>
</html>